@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "variables.css";

/*Components*/
@import "components/pocket.css";
@import "components/status-bar.css";
@import "components/no-mobile.css";
@import "components/page-slide.css";
@import "components/page-header.css";

/*Screens*/
@import "screens/main-relfected.css";
@import "screens/living.css";
@import "screens/splash-screen.css";

body {
  height: 90vh;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  padding: 0px 5px;
}
.main-screen {
  padding: 25px;
}
