.living__pie-graph img{
    width: 90%;
    height:60%;
}
.living__pie-graph{
    display:flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.living__indexes{
    position:absolute;
    left:385px;
    bottom:60px;
    font-size:12px;
}
.living__index{
    display:flex;
    position:relative;
}
.living__index:first-child i{
    color:rgb(81, 158, 81);
    margin-right:3px;
}
.living__index:nth-child(2) i{
    color:rgb(57, 152, 196);
    margin-right:3px;
}
.living__index:nth-child(3) i{
    color:rgb(248, 203, 1);
    margin-right:3px;
}
.living__index:nth-child(4) i{
    color:rgb(69, 97, 16);
    margin-right:3px;
}
.living__index:nth-child(5) i{
    color:rgb(51, 100, 139);
    margin-right:3px;
}
.living__index:last-child i{
    color:rgb(36, 38, 119);
    margin-right:3px;
}
.living__pie-graph-total{
    position: absolute;
    top:127px;
    left:185px;
}
.living__pie-graph-total div{
    position: absolute;
    top:-13px;
    left:4px;
    font-size:14px;
}
.living__pie-graph-total span{
    font-weight: bold;
    font-size:19px;
}
.living__total-money{
    font-size:24px;
}
.info__expenses {
    display:flex;
    justify-content: center;
    margin-left:5px;
    margin-top:-5px;
}
.info__expenses img{
    height:33%;
    width:33%;
    position:absolute;
    order:2;
}
.info__expense{
    position:relative;
    left:-77px;
    order:1;
    margin-top:16px;
}
.info__expense-item{
    width:330%;
    display:flex;
    justify-content: space-between;
    margin-bottom:13px;
}
.info__expense-index{
    width:80%;
}
.info__expense-out{
    position:absolute;
    left:75px;
    width:80%;
}
.info__expense-left{
    width:80%;
}
.info__expense-left i{
    font-size:14px;
    margin:0px 2px;
}
.page-slide i{
    color:var(--green);
}