.account-around{
    background-color: var(--green);
    border-radius: 15px;
}
.account-around__top{
    margin-top:40px;
    display:flex;
    justify-content: space-between;

}
.account-around__mid{
    display:flex;
    justify-content: center;
}
.account-around__bottom{
    display:flex;
    justify-content: flex-end;
}
.account__living{
    width:20%;
    text-decoration: none;
    color: #000000;
}
@keyframes goodWave{
    0%, 100%{
        transform: rotate(0deg);
    }
    20%,60%{
        transform:rotate(5deg);
    }
    40%,80%{
        transform:rotate(-5deg);
    }
}
.account__stock{
    animation: goodWave 1.5s ease-in-out;
}
.stock__total{
    font-size:15px;
}
.up{
    color:tomato;
}
.down{
    color:rgb(62, 157, 201);
}
.info{
    margin-top:15px;
}
.info__management{
    padding: 10px;
    background-color:rgba(71, 161, 48, 0.3);
    border-radius: 15px;
}
.info__title{
    margin-left:5px;
    margin-bottom:5px;
    width:50%;
    border-bottom:2.5px solid var(--green);
    font-size:18px;
    font-weight:bold;
}
.info__management-items{
    margin-bottom:10px;
}
.info__management-items:last-child{
    margin-bottom:0px;
}
.info__management-rank{
    font-size:14px;
    font-weight:bold;
    color:rgba(32, 70, 22, 0.9);
}
.info__management-rank-subtitle{
    font-size:12px;
    font-weight:bold;
    margin-left:5px;
    color:rgba(32, 70, 22, 0.6);
    display:flex;
}
.info__management-product{
    margin-left:2px;
    background-color: rgba(255, 221, 71, 0.8);
    border-radius: 15px;
    padding:0px 5px;
}
.info__management-product:first-child{
    margin-left:5px;
}
.next-page{
    display:flex;
    justify-content: flex-end;
    border:none;
    text-decoration: none;
}