@keyframes hideSplashScreen{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        visibility:hidden;
        /*진짜로 html에서 없애려면 java script 필요*/
    }
}
.splash-screen_logo{
    font-size:25px;
    font-weight:bold;
    margin-right:3px;
}
#splash-screen{
    background-color: rgb(51, 117, 35);
    position:absolute;
    height:100%;
    width:96%;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:132px;
    animation:hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay:2s;
}